@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

/* Web Fonts Generated */
@font-face {
	font-family: 'BrandonGrotesque-Bold';
	src: url('../fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BrandonGrotesque-Bold.otf')  format('opentype'),
	url('../fonts/BrandonGrotesque-Bold.woff') format('woff'),
	url('../fonts/BrandonGrotesque-Bold.ttf')  format('truetype'),
	url('../fonts/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-MediumItalic';
	src: url('../fonts/BrandonGrotesque-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BrandonGrotesque-MediumItalic.otf')  format('opentype'),
	url('../fonts/BrandonGrotesque-MediumItalic.woff') format('woff'),
	url('../fonts/BrandonGrotesque-MediumItalic.ttf')  format('truetype'),
	url('BrandonGrotesque-MediumItalic.svg#BrandonGrotesque-MediumItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-Regular';
	src: url('../fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BrandonGrotesque-Regular.otf')  format('opentype'),
	url('../fonts/BrandonGrotesque-Regular.woff') format('woff'),
	url('../fonts/BrandonGrotesque-Regular.ttf')  format('truetype'),
	url('../fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-Medium';
	src: url('../fonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BrandonGrotesque-Medium.otf')  format('opentype'),
	url('../fonts/BrandonGrotesque-Medium.woff') format('woff'),
	url('../fonts/BrandonGrotesque-Medium.ttf')  format('truetype'),
	url('../fonts/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamRounded-Book';
	src: url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamRounded-Book.otf')  format('opentype'),
	url('../fonts/GothamRounded-Book.woff') format('woff'),
	url('../fonts/GothamRounded-Book.ttf')  format('truetype'),
	url('../fonts/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamRounded-Light';
	src: url('../fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamRounded-Light.otf')  format('opentype'),
	url('../fonts/GothamRounded-Light.woff') format('woff'),
	url('../fonts/GothamRounded-Light.ttf')  format('truetype'),
	url('../fonts/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'GothamRounded-Medium';
  src: url('../fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamRounded-Medium.otf')  format('opentype'),
  url('../fonts/GothamRounded-Medium.woff') format('woff'),
  url('../fonts/GothamRounded-Medium.ttf')  format('truetype'),
  url('../fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded-BookItalic';
  src: url('../fonts/GothamRounded-BookItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamRounded-BookItalic.otf')  format('opentype'),
  url('../fonts/GothamRounded-BookItalic.woff') format('woff'),
  url('../fonts/GothamRounded-BookItalic.ttf')  format('truetype'),
  url('../fonts/GothamRounded-BookItalic.svg#GothamRounded-BookItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Developer Styles */

html
{
	background-size: 100%;
	background-repeat: no-repeat;
	min-width: 1024px;
	margin: 0 auto;
	overflow-x: hidden;
}

html#informant.overflowHidden { overflow: hidden; }

#body
{
	background-color: transparent;

	/*
	background-image: url('../img/background_index.jpg');
	background-size: 100%;
	background-repeat: no-repeat;

	min-width: 320px;
	margin: 0 auto;
	*/

}

#wrapper
{
	margin: 0 auto;
	/* opacity: 0.5; */
}


#wrapper, #wrapperMoreCases { background-color: #1b85a9; }

.maxWidth512px { max-width: 512px; margin: 0 auto!important; }

#header
{
	padding-top: 19px;
    width: 100%;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 23px;
}
#header * { display: inline-block; }
#header .informantesIcon { width: 54px; }
#header .headerTitle
{
	font-family: 'BrandonGrotesque-Bold';
	font-size: 23.25px;
	color: #080129;
	letter-spacing: 8px;
	margin: auto auto auto 11px;
	vertical-align: middle;
}

.transitions
{
	-moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
    -webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
    -ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
    transition: border-bottom-color 0.2s ease, color 0.2s ease;
    text-decoration: none;
}


.transitions:-moz-focusring { outline: 0px; }
a.transitions:hover, a.transitions:active, a.transitions:focus { outline: 0px; }

/* Top Section */

#wrapperTopLeftSection
{
	background-color: #1b85a9;
	float: left;
    width: 50%;
}

#wrapperTopLeftSection #topLeftSection.col-sm-offset-3
{
	padding-left: 5px;
	width: 385px;
    float: right;
    margin-left: 0px;
}

#wrapperTopRightSection
{
	float: right;
    width: 50%;
   	background: linear-gradient(0deg, #14415e 39%, #339bc0 39%);
}

.topSection { min-height: 548px; }
.topSection.row, #mediaSection.row, #howItWorksSection.row { margin: 0;}
#howItWorksSection.row { margin: 0 auto; max-width: 1024px; }
.topSection.row { padding-top: 27px; line-height: 48px; padding-bottom: 36px; }

#topLeftSection .slider
{
	color: #f2f2f2;
    font-family: 'BrandonGrotesque-MediumItalic';
    font-size: 39px;
    text-transform: uppercase;
    padding-left: 10px;
    line-height: 50px;
}

.topSection #appleApp, .topSection #androidApp
{
	height: 52px;
	font-size: 15px;
	line-height: 41px;
	background-color: transparent;
	color: white;
	border-radius: 6px;
	border: none;
	width: 276px;
	text-indent: 26px;
	border: solid 2px transparent;
	border-radius: 30px;
	margin-bottom: 12px;
	-webkit-font-smoothing: antialiased;
	-moz-transition: border 0.2s ease, color 0.2s ease;
    -webkit-transition: border 0.2s ease, color 0.2s ease;
    -ms-transition: border 0.2s ease, color 0.2s ease;
    transition: border 0.2s ease, color 0.2s ease;
}

.topSection #appleApp
{
	background-image: url('../img/btn_apple_store.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	cursor: pointer;
}

.topSection #appleApp:focus, .topSection #androidApp:focus { outline: none; }

.topSection #androidApp
{
	background-image: url('../img/btn_play_store.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	cursor: initial;
}

.topSection .buttonsContent { margin-top: 18px; float: left; }

.topSection .mediaWrap { margin-left: 3px; }
.topSection .mediaWrap button { font-family: 'GothamRounded-Book'; }

.topSection .mediaWrap button > span.mediaSlash { color: white; }
.topSection .mediaWrap button > span.commingSoon { color: #bababa; }

.slick-dotted.slick-slider { margin-bottom: 0px; }

#topLeftSection .slider .slick-dots li button:before
{
	color: #080228; opacity: 1;
	font-size: 8px;
}
#topLeftSection .slider .slick-dots li.slick-active button:before { color: #eaebea; }
#topLeftSection .slider .slick-dots
{
	left: 10px;
	bottom: -40px;
	text-align: left;
	margin: 0px 0px;
	padding: 0;
}

#topLeftSection .slider .slick-dots li { margin: 0; width: 14px; }
#topLeftSection .slider .sliderItem span { font-family: 'GothamRounded-Book'; font-size: 40px; }
#topLeftSection .shareHelpText { float: left; }
#topLeftSection .shareHelpText, #topRightSection .shareHelpText
{
	font-family: 'BrandonGrotesque-Regular';
    font-size: 16.5px;
    text-transform: uppercase;
    color: white;
    line-height: 21px;
    margin-top: 15px;
    -webkit-font-smoothing: antialiased;
}

#topRightSection #reportCrimeForm { margin-top: 29px; }
#topRightSection #reportCrimeForm, #topRightSection .shareHelpText
{
	max-width: 302px;
	margin-left: 48px;
	-webkit-font-smoothing: antialiased;
}

#topRightSection .shareHelpText
{
	margin-top: 40px;
    font-size: 16.5px;
    margin-left: 47px;
    letter-spacing: 0em;
    line-height: 20px;
    max-width: 320px;
}

#topRightSection #reportCrimeForm .form-group { margin-bottom: 5px; height: 38px; }
#topRightSection #reportCrimeForm .form-group.formTextArea { height: 78px; }
#reportCrimeForm select.form-control
{
	background-image: url('../img/select_arrow.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 60px 48px;
	cursor: pointer;
	font-family: "GothamRounded-Book";
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline:none;
}

#reportCrimeForm select.form-control:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
#reportCrimeForm select::-ms-expand { display: none; }

#reportCrimeForm .validation
{
	background-color: #bababa;
}

#reportCrimeForm .form-control { padding: 10px 19px 7px 12px; }
#reportCrimeForm .pacInput { overflow: hidden!important; }
#reportCrimeForm #map
{
	height: 48px;
	background-color: white!important;
    background-image: url(../img/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center;
}

#reportCrimeForm #map #pac-input
{
	width: 100%;
	height: 38px;
	font-family: "GothamRounded-Book";
}

.pac-logo:after { display: none; }

.gmnoprint, .gm-style-cc { display: none; }
.gm-style { display: none; }
.gm-style > div > a > div { display: none; }

#reportCrimeForm select.form-control,
#reportCrimeForm button,
#reportCrimeForm input.form-control
{
	border-radius: 1px;
}

#reportCrimeForm select.form-control,
#reportCrimeForm input.form-control,
#reportCrimeForm button,
#reportCrimeForm .formControlSmall > span,
#reportCrimeForm input[type=submit],
#reportCrimeForm .imgRecaptcha,
#reportCrimeForm textarea
{
	color: #303030;
	height: 38px;
	border: none;
	border-radius: 0px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0);
}

#reportCrimeForm textarea { height: 78px; }

#topRightSection #reportCrimeForm .form-group.formCaptchaGroup
{
	height: 73px;
    margin-bottom: 5px;
    overflow: hidden!important;
}

#reportCrimeForm .form-control::-webkit-input-placeholder { color: #303030 }
#reportCrimeForm .form-control:-moz-placeholder { color: #303030 opacity:  1; }
#reportCrimeForm .form-control::-moz-placeholder { color: #303030 opacity:  1; }
#reportCrimeForm .form-control:-ms-input-placeholder { color: #303030 }


#reportCrimeForm .formControlSmall { width: 49%; display: inline-block; }
#reportCrimeForm .smallLeft { float: left; }
#reportCrimeForm .smallRight { float: right; }

#reportCrimeForm .formControlSmall > input,
#reportCrimeForm .formCustomControl > input,
#reportCrimeForm .formCustomControl > textarea
{ width: 100%; font-family: "GothamRounded-Book"; z-index: 1; }

#reportCrimeForm .formControlSmall > span
{
	width: 100%;
	background-color: white;
	border-radius: 0px 2px 2px 0px;
	float: right;
    position: absolute;
    z-index: 3;
    background: transparent;
}
#reportCrimeForm .formControlSmall > span > .fa
{
    right: 0px;
    position: absolute;
    top: 12px;
    padding: 0px 10px 0px 0px;
    background-color: white;
    font-size: 20px;
}

#reportCrimeForm .formControlSmall > span > .fa.fa-clock-o
{
	padding: 1px 13px 0px 0px;
    font-size: 22px;
}

#reportCrimeForm button, #reportCrimeForm input[type=submit]
{
	width: 100%;
	border: none;
	background-color: #fee101;
	text-transform: uppercase;
	vertical-align: top;
	line-height: 1em;
	font-family: "GothamRounded-Book";
}

#reportCrimeForm input[type=submit]
{
	border-radius: 0px;
	border: none!important;
	margin-top: 3px;
}

#reportCrimeForm button[type=submit]:hover, #reportCrimeForm input[type=submit]:hover
{ background-color: #339bc0; color: white; }
#reportCrimeForm button[type=button]:hover { background-color: lightgray; }

#reportCrimeForm .imgRecaptcha
{
	width: 100%;
	background-color: white;
	float: left;
	text-align: center;
}

#reportCrimeForm .imgRecaptcha
{
	background-image: url('../img/re_captcha.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 33%;
}

/* Custom Modal Section */
#customModal .modal-header { text-align: center; }
#customModal .modal-header h1
{
	font-family: 'BrandonGrotesque-Medium';
	font-size: 44px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	color: #303030;
}
#customModal .modal-header p
{
	font-family: 'GothamRounded-Book';
	font-size: 13px;
	color: #303030;
}

#customModal .modal-footer, #customModalSocialMedia .modal-footer { text-align: center; }

.informantesBlueButton
{
	padding: 12px 25px;
    font-family: 'GothamRounded-Book';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
    border-radius: 4px;
    background-color: #1b85a9;
    text-transform: uppercase;
    border-color: transparent;
    -webkit-font-smoothing: antialiased;
}

#customModalSocialMedia .crimeShowIcon { display: inline-block; margin: 10px;}
#customModalSocialMedia #historySocialMedia { text-align: center!important; }
#customModalSocialMedia #historySocialMedia .historySocialMedia { float: none; }
#customModalSocialMedia #historySocialMedia .socialMediaBtn
{ margin-left: 0px; }

.socialMediaBtn.btnFacebook > a { color: transparent!important; font-size: 2em;}

#customModalSocialMedia .modal-dialog
{
	width: 192px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 203px;
}

.modal-dialog-first { margin-bottom: 15px; }
.modal-dialog-second { margin-top: 15px; }

#customModalSocialMedia #historySocialMedia .socialMediaBtn:hover
{
	-ms-transform: none;
    -webkit-transform: none;
    transform: none;
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: border none;
    transition: border none;
}

#customModalSocialMedia #historySocialMedia .socialMediaBtn > span
{
	position: absolute!important;
}

#customModalSocialMedia #historySocialMedia .socialMediaBtn > span > iframe
{
	position: absolute;
    width: 100%!important;
    left: 0px;
}

.btn-default.informantesBlueButton:hover { background-color: #fee101; }
#customModal .modal-footer { border-top: 0px solid transparent; }

#customModal .historyContent
{
	border: solid 1px #a9a9a9;
	padding: 10px 15px 20px 15px;
}

#customModal .shareReactions { padding: 10px 15px 20px 15px; }

#customModal .crimeRow { margin: 10px; }

#customModal .crimeIconAndDesc .row,
.historyRegister .crimeIconAndDesc .row { margin: 0px; }

#howItWorksSection .howItWorksWrapRight .historyRegister.noStories { display: inline-block; }
#howItWorksSection .howItWorksWrapRight .historyRegister.noStories.hide { display: none; }

#ajaxLoader
{
	margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}

#howItWorksSection .howItWorksWrapRight #casesStories.hide { display: none; }


#customModal .crimeIconAndDesc .row.crimeDescription,
.historyRegister .crimeIconAndDesc .row.crimeDescription
{ font-family: 'GothamRounded-Book'; padding-top: 15px; position: relative; }

#customModal .crimeIconAndDesc .row.crimeDescription a,
.historyRegister .crimeIconAndDesc .row.crimeDescription a { color: #339bc0; font-weight: bold; }
.historyRegister .crimeIconAndDesc .row.crimeDescription .share,
.historyRegister .crimeIconAndDesc .row.crimeDescription .report
{
    color: #339bc0;
    margin-right: 16px;
    margin-top: 3px;
    font-weight: bold;
    cursor: pointer;
}

.historyRegister .crimeIconAndDesc .row.crimeDescription .share
{
	float: left;
	margin-top: 7px;
    margin-right: 14px;
}

.historyRegister .crimeIconAndDesc .row.crimeDescription .report
{
	float: right;
	margin-right: 2px;
    margin-top: 7px;
}

#customModal .crimeIconAndDesc .row .italicBold,
.historyRegister .crimeIconAndDesc .row .italicBold { font-family: 'GothamRounded-Medium'; }

#customModal .crimeIconAndDesc .crimeShowIcon,
.historyRegister .crimeIconAndDesc .crimeShowIcon
{
	width: 31px;
    height: 31px;
    display: inline-block;
}
#customModal .crimeIconAndDesc .historySocialMedia .crimeShowIcon { width: 35px; }

#customModal .crimeIconAndDesc p,
.historyRegister .crimeIconAndDesc p { width: 90%; }
.historyRegister .crimeIconAndDesc p
{
	width: 92%;
    padding-left: 4px;
    font-size: 12px;
}
.historyRegister .crimeIconAndDesc .row.crimeDescription
{
	padding-top: 9px;
    font-size: 12px;
    line-height: 15px;
}

.historyRegister .crimeIconAndDesc .row.crimeDescription
{
	padding-top: 9px;
    font-size: 12px;
    line-height: 15px;
}


#customModal .crimeIconAndDesc p,
#customModal .crimeIconAndDesc p span,
.historyRegister .crimeIconAndDesc p,
.historyRegister .crimeIconAndDesc p span
{
	font-family: 'GothamRounded-Medium';
    font-weight: lighter;
    color: #000000;
    padding-left: 6px;
    display: inline-block;
}

#customModal .shareReactions .crimeIconAndDesc { padding-top: 10px; }

#customModal .crimeShowDate,
.historyRegister .crimeShowDate { float: right; }

/* Reactions when has history */
.shareReactions
{
	float: left;

}

.shareReactions.storyCards
{
    width: 250px;
    overflow: hidden;
    height: 28px;
    padding-left: 4px;
    margin-left: -4px;
}

/* Media Section */
#mediaSection { background-color: #f6f6f6; }
#mediaSection .mediaWrap { padding: 81px 13px; }

#mediaSection .mediaInsideWrapLeft { float: right;  }
#mediaSection .mediaInsideWrapRight { float: left;  }

/* How It Works Section */
#howItWorksSection .howItWorksWrap .triangle
{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 17.3px;
	border-color: transparent transparent transparent #007bff;
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;

	border-color: transparent #f6f6f6 transparent transparent;
	border-width: 15px 13px 15px 0px;
	right: 0;
}

#howItWorksSection .howItWorksWrapLeft
{
	float: left;
	text-align: center;
  padding: 36px 0px;
  min-height: 270px;
}

.ads, .adsMoreCases
{
	/*width: 300px;*/
	position: absolute;
  /*display: table;*/
}

/*
.ads img.fixed, .adsMoreCases img.fixed
{
	width: 300px;
	height: 250px;
	top: 19px;
	float: right;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    margin-left: -150px;
}

.adsMoreCases.fixed { top: 64px; }
*/

#howItWorksSection .howItWorksWrapLeft #howItWorksTitle
{
	color: white;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 18px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	text-indent: 21px;
	line-height: 0px;
}

#howItWorksSection .howItWorksWrapRight
{
	background-color: #f6f6f6;
	font-family: 'GothamRounded-Light';
	/* padding: 100px 77px; */
	padding: 35px 156px 35px 65px;
	min-height: 270px;
}

#howItWorksSection .howItWorksWrapRight .historyRegister
{
	background-color: white;
	display: inline-block;
	padding: 24px 20px;
	border: solid 1px #a9a9a9;
	line-height: 18px;
}

#howItWorksSection .howItWorksWrapRight .historyRegister.hasHistory
{
	padding: 11px 12px 12px 12px;
    margin-bottom: 11px;
    min-width: 491px;
}

#howItWorksSection .howItWorksWrapRight .historyRegister .historyContent { padding: 0px;  }

.moreHistoriesRow
{
	margin-top: 25px;
    margin-bottom: 22px;
}

.moreHistoriesRow.hide { display: none; }

a.moreHistories
{
	font-family: 'GothamRounded-Medium';
    text-align: left;
    color: #000000;
    border-radius: 5px;
    background-color: #ebf5f8;
    border: solid 1px #339bc0;
    padding: 12px 10px 8px 10px;
    cursor: pointer;
}

a.moreHistories:hover { background-color: #339bc0; color: white; }

.historyRegister .historyRow
{
	margin-bottom: 15px;
}

.historyRegister .historyRegisterTitle
{
	font-size: 13px;
	letter-spacing: -0.6px;
	font-family: 'GothamRounded-Medium';
}

.historyRegister .historyRegisterCity
{
	font-size: 12px;
	font-family: 'GothamRounded-Medium';
	float: right;
	color: #339bc0;
	cursor: pointer;
}

.historyRegister .historyDescription
{
	font-size: 13px;
    letter-spacing: -0.5px;
    font-family: 'GothamRounded-Book';
    margin-bottom: 12px;
    padding: 0px 14px;
    line-height: 15px;
}

.numbers
{
	padding-left: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 0px;
	font-size: 16px;
    font-family: 'GothamRounded-Book';
}

.numbers .blueColor { color: #339bc0; cursor: pointer; }
.numbers > span { width: 89%; }

.numbers.number1 > span { top: -4px; }
.numbers.number2 > span { top: 0px; }
.numbers.number3 > span { top: 2px; }

.numbers .imgContent
{
	max-width: 36px;
	display: inline-block;
	float: left;
	margin-right: 14px;
	line-height: 1.42;
}

.numbers .imgContent::before
{
	position: absolute;
    top: 11px;
    left: 12px;
    font-size: 19px;
    width: 12px;
    text-align: center;
    color: #3e3e3e;
}

.numbers.number1 .imgContent::before { content: "1"; }
.numbers.number2 .imgContent::before { content: "2"; }
.numbers.number3 .imgContent::before { content: "3"; }

.numbers span
{
	position: relative;
    display: inline-block;
    letter-spacing: -0.5px;
    font-size: 13px;
    line-height: 15px;
}

/* Bottom Section */

#bottomSection { background-color: white; }
#bottomSection #bottomLinks
{
	padding-top: 42px;
	padding-bottom: 48px;
	text-align: center;
	font-family: 'GothamRounded-Book';
	font-size: 11px;
	-webkit-font-smoothing: antialiased;
}

#bottomSection #bottomLinks a, #bottomSection #bottomLinks button
{
	color: black;
	position: relative;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	/*border-bottom: solid 1px black;*/
	padding: 0px 5px 9px 5px;
    margin-left: 8px;
}

#bottomSection #bottomLinks a hr, #bottomSection #bottomLinks button hr
{
	top: 22px;
    display: block;
    position: absolute;
    height: 1px;
    width: 82px;
    opacity: 1;
    margin: auto;
    border-top: solid black 1px;
    left: 0;
    right: 0;
    bottom: 0px;
}
#bottomSection #bottomLinks a:visited, #bottomSection #bottomLinks button:visited { text-decoration: none; }
#bottomSection #bottomLinks a:hover, #bottomSection #bottomLinks button:hover
{
	text-decoration: none;
	cursor: pointer;
	border-bottom-color: transparent;
    color: #2c9bd0;
    /*border-bottom: solid 1px #2c9bd0;*/
}

#bottomSection #bottomLinks a:hover hr { border-top: solid #2c9bd0 1px; }

#bottomSection #bottomLinks button.desktopLang { display: inline-block; }
#bottomSection #bottomLinks div.mobileLang { display: none; }

#bottomSection #bottomLinks button.language,
#bottomSection #bottomLinks div.language
{
	background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 22px;
}

#bottomSection #bottomLinks button.language .dropdown-menu
{
	background-color: transparent;
    border: none;
    box-shadow: none;
    min-width: 78px;
    text-align: center;
    color: black;
    font-size: 13px;
}

#bottomSection #bottomLinks button.language .dropdown-menu li:hover { color: #2c9bd0; }
#bottomSection #bottomLinks button.language:focus { outline: none; }
#bottomSection #bottomLinks .language .languageOption { display: inline-block; }
#bottomSection #bottomLinks .language .languageOption div { display: inline-block; }

#bottomSection #bottomLinks .language:hover .fa-chevron-down,
#bottomSection #bottomLinks .language:hover .fa-chevron-up { color: #2c9bd0; }

#bottomSection #bottomLinks .language .fa-chevron-down,
#bottomSection #bottomLinks .language .fa-chevron-up
{
	color: #767676;
	position: absolute;
	right: 0px;
	top: 2px;
	width: 100%;
    text-align: right;
    height: 22px;
}

#bottomSocialMedia
{
	text-align: center;
	padding-bottom: 40px;
	margin: 0 auto 25px auto;
	width: 150px;
	overflow-x: hidden;
}

.align-center { text-align: center; }

.ShareSocialMedia
{
	display block;
	position: absolute;
	left: -10px;
    top: 42px;
    height: 0px;
    overflow: hidden;

    background-color: white;
    border: solid 1px transparent;
    padding-bottom: 0px;

	-moz-transition: height 0.5s ease, border 0.5s ease, padding-bottom 0.5s ease ;
    -webkit-transition: height 0.5s ease, border 0.5s ease, padding-bottom 0.5s ease ;
    -ms-transition: height 0.5s ease, border 0.5s ease, padding-bottom 0.5s ease ;
    transition: height 0.5s ease, border 0.5s ease, padding-bottom 0.5s ease ;
}

.ShareSocialMedia.showSocial
{
	height: 36px;
	border: solid 1px #a9a9a9;
    padding-bottom: 42px;
    padding-top: 6px;
    z-index: 2;
}

.reactionBox
{
	display block;
	position: absolute;
	left: 71px;
    top: 42px;
    height: 0px;
    overflow: hidden;

    background-color: white;
    border: solid 1px transparent;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 6px;

	-moz-transition: height 0.5s ease, border 0.5s ease, padding-bottom 0.5s ease ;
    -webkit-transition: height 0.5s ease, border 0.5s ease, padding-bottom 0.5s ease ;
    -ms-transition: height 0.5s ease, border 0.5s ease, padding-bottom 0.5s ease ;
    transition: height 0.5s ease, border 0.5s ease, padding-bottom 0.5s ease ;
}

.reactionBox.showSocial
{
	height: 72px;
    border: solid 1px #a9a9a9;
    z-index: 2;
    position: absolute;
    padding-bottom: 70px;
}

#historySocialMedia { text-align: left; margin: 0 auto 20px auto; }

#historySocialMedia p.shareInfo, #reactions p.shareInfo
{ padding-left: 0px; width: auto; float: left; margin-top: 8px; }

#reactions .reactionsEmojis
{
	float: left;
    margin-left: 11px;
    margin-top: 7px;
}

#reactions .reactionsEmojis .emojiBox,
.shareReactions .emojiBox
{
	border-radius: 5px;
    background-color: #ebf5f8;
    border: solid 1px #339bc0;
    cursor: pointer;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 1px;
   	margin: 0px 6px 9px 0px;
   	display: inline-block;
}

.reactionBox .emojiBox
{

}

.shareReactions .emojiBox { float: left; margin-top: 4px; }

#reactions .reactionsEmojis .emojiBox .emojiImg,
.shareReactions .emojiBox .emojiImg
{
	width: 19px;
    height: 19px;
    float: left;
    margin-right: 4px;
}

.shareReactions .emojiBox.fullView .emojiImg
{
	margin-right: 0px;
}

.shareReactions .emojiBox span
{
	position: relative;
    top: 4px;
}

.modal-content .shareReactions .emojiBox span { top: 1px; }

.shareReactions .emojiBox.fullView
{
	padding: 0px;
    border: none;
    height: 22px;
    margin-top: 4px;
    margin-right: 10px;
    position: relative;
}

.shareReactions .emojiBox.fullView .emojiImg{ width: 38px; }
.shareReactions .emojiBox.fullView .emojiImg img { width: 38px; position: absolute; }

#reactions .reactionsEmojis .emojiBox .emojiImg img,
.shareReactions .emojiBox .emojiImg img,
{
	width: 18px;
    margin-top: 0px;
}

#reactions .reactionsEmojis .emojiBox span
.shareReactions .emojiBox span
{
	font-family: 'GothamRounded-Medium';
    color: #303030;
    position: relative;
    top: 1px;
}


#reactions .countVisit
{
	display: inline-block;
	float: right;
	border-top: 1px solid #a9a9a9;
}

#reactions .countVisit .countVisitContent
{
	display: inline-block;
	padding: 20px 8px 0px 10px;
}

#reactions .countVisit .countVisitContent+.countVisitContent
{
	border-left: solid 1px #a9a9a9;
}

#reactions .visitTitle, #reactions .visitCountNumber
{
	font-family: 'GothamRounded-Medium';
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color: #303030;
}

#reactions .visitCountNumber
{
	font-size: 19px;
}

#historySocialMedia .historySocialMedia { display: inline-block; float: left; }
#historySocialMedia .crimeShowCity
{
	display: inline-block;
    float: right;
    color: #339bc0;
    font-family: 'GothamRounded-Book';
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 6px;
    padding-right: 0px;
    width: 166px;
    text-align: center;
    cursor: pointer;
}

#bottomSocialMedia .socialMediaBtn,
#historySocialMedia .socialMediaBtn,
.ShareSocialMedia .socialMediaBtn
{
	display: inline-block;
    margin: 0px 10px;
    height: 41px;
    border: none;
    background-color: transparent;
    width: 30px;
    overflow: hidden;
    float: left;
}
#historySocialMedia .socialMediaBtn { margin-right: 0px; }

#bottomSocialMedia .socialMediaBtn:hover,
#historySocialMedia .socialMediaBtn:hover,
.emojiBox:hover,
.ShareSocialMedia .socialMediaBtn:hover
{
	-ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari */
    transform: scale(1.2);

	-moz-transition: border 0.2s ease, transform 0.2s ease;
    -webkit-transition: border 0.2s ease, transform 0.2s ease;
    -ms-transition: border 0.2s ease, transform 0.2s ease;
    transition: border 0.2s ease, transform 0.2s ease;
}

#bottomSocialMedia .btnFacebook,
#historySocialMedia .btnFacebook,
.ShareSocialMedia .btnFacebook
{
	background-image: url('../img/btn_facebook.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	cursor: pointer;
}

.ShareSocialMedia .btnTwitter { margin-left: 0px; overflow-x: hidden; }

#bottomSocialMedia .btnFacebook.fb_iframe_widget span,
#historySocialMedia .btnFacebook.fb_iframe_widget span,
.ShareSocialMedia .btnFacebook.fb_iframe_widget span
{
	position: absolute!important;
	opacity: 0;
    top: -30px!important;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0;
   	width: 30px!important;
    height: 35px!important;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari */
    transform: scale(1.5);
}

/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    #bottomSocialMedia .btnFacebook.fb_iframe_widget span,
	#historySocialMedia .btnFacebook.fb_iframe_widget span,
	.ShareSocialMedia .btnFacebook.fb_iframe_widget span
	{
		top: -5px!important;
	}
}

#bottomSocialMedia .btnFacebook.fb_iframe_widget span iframe,
#historySocialMedia .btnFacebook.fb_iframe_widget span iframe,
.ShareSocialMedia .btnFacebook.fb_iframe_widget span iframe { top: -13px; }

#bottomSocialMedia .btnFacebook.fb_iframe_widget span iframe .mrs.lfloat,
#historySocialMedia .btnFacebook.fb_iframe_widget span iframe .mrs.lfloat,
.ShareSocialMedia .btnFacebook.fb_iframe_widget span iframe .mrs.lfloat { height: 30px; }

#bottomSocialMedia .btnPinterest
{
	background-image: url('../img/btn_pinterest.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

#bottomSocialMedia .btnPinterest span, #bottomSocialMedia .btnPinterest a
{
	top: 0px!important;
	opacity: 0;
	width: 100%;
    height: 30px;
}

#bottomSocialMedia .btnTwitter,
#historySocialMedia .btnTwitter,
.ShareSocialMedia .btnTwitter
{
	background-image: url('../img/btn_twitter.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}


.ShareSocialMedia .btnTwitter a,
.ShareSocialMedia .btnTwitter iframe
{
	position: static;
    visibility: visible;
    width: 100%!important;
    height: 30px!important;
    opacity: 0;
    top: 0px!important;
}

#bottomSocialMedia .btnTwitter a,
#historySocialMedia .btnTwitter a,
#bottomSocialMedia .btnTwitter iframe,
#historySocialMedia .btnTwitter iframe
{
	opacity: 0;
	top: 3px!important;
	font-size: 2em;
    position: relative!important;
    transform: scale(2);
}


#copyright
{
	text-align: center;
    text-transform: uppercase;
    font-family: 'BrandonGrotesque-Medium';
    font-size: 10px;
    color: #3e3e3e;
    padding-bottom: 60px;
    letter-spacing: 0.08em;
    margin-left: 5px;
    position: relative;
   	letter-spacing: 0.13em;
}

#copyright span
{
	font-family: 'BrandonGrotesque-Bold';
	color: black;
}

/* All Sweetalert custom styles */
.sweet-alert h2
{
	font-family: 'BrandonGrotesque-Medium';
	text-transform: uppercase!important
}

.sweet-alert p
{
	font-family: 'GothamRounded-Book';
}

.sweet-alert button.confirm, .sweet-alert button.cancel
{
	font-family: 'GothamRounded-Book';
	height: 40px;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 0px;
}









/* More Cases Styles */
html
{
	/* width: 1024px; */
}

#bodyMoreCases
{
	background-color: #f6f6f6;
	/*
	background-image: url('../img/background_more_cases.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 1024px;
	min-width: 320px;
	min-height: 1000px;
	*/

	margin: 0 auto;
}

.wrapperHeader
{
	position: fixed;
	z-index: 2;
	background-color: white;
	width: 100%;
	height: 64px;
	border-bottom: solid 1px rgba(48, 48, 48, 0.35);
}

#wrapperMoreCases
{
	padding-top: 64px;
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
	z-index: 1;

	/* opacity: 0.5; */
}

.headerMoreCases
{
	min-width: 484px;
	padding-top: 9px;
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.headerMoreCases * { display: inline-block; }
.headerMoreCases .informantesIcon { width: 45px; }
.headerMoreCases .headerTitle
{
	font-family: 'BrandonGrotesque-Bold';
    font-size: 16.5px;
    color: #080129;
    letter-spacing: 6px;
    margin: 3px auto auto 10px;
    vertical-align: middle;
}

.headerMoreCases .informantesIcon.cursorPointer { cursor: pointer; }
.headerMoreCases .headerTitle.cursorPointer { cursor: pointer; }

.cityCountryInformation
{
	display: inline-block;
    float: right;
    margin-top: 0px;
    padding-right: 6px;
}

.cityCountryInformation a, .cityCountryInformation span
{
	color: #14415e;
    font-family: 'BrandonGrotesque-Regular';
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.cityCountryInformation span.crimeShowCity.pipe { margin: 11px 7px; }
.cityCountryInformation span.crimeShowCity.pipe.hidePipe { opacity: 0; }
.cityCountryInformation a.crimeShowCity.country
{
	border-bottom: 1px solid #14415e; line-height: 19px;
	text-decoration: none;
	cursor: pointer;
}


#wrapperMoreCases #howItWorksSection .howItWorksWrapLeft
{
	padding: 35px 0px 0px 0px;
    min-height: 600px;
}

#wrapperMoreCases #howItWorksSection .howItWorksWrapRight
{
    padding: 35px 156px 35px 65px;
}

#wrapperMoreCases #howItWorksSection .howItWorksWrapRight .historyRegister.hasHistory
{
	padding: 11px 12px 12px 12px;
	margin-bottom: 11px;
}

#wrapperMoreCases .historyRegister .crimeIconAndDesc .crimeShowIcon
{
	width: 31px;
    height: 31px;
}

#wrapperMoreCases .historyRegister .crimeIconAndDesc p
{
	width: 92%;
	padding-left: 4px;
    font-size: 12px;
}

#wrapperMoreCases .historyRegister .crimeIconAndDesc .row.crimeDescription
{
	padding-top: 9px;
    font-size: 12px;
    line-height: 15px;
}

#wrapperMoreCases .historyRegister .crimeIconAndDesc .row.crimeDescription .share
{
	margin-top: 7px;
	margin-right: 14px;
}

#wrapperMoreCases .historyRegister .crimeIconAndDesc .row.crimeDescription .report
{
	margin-right: 2px;
    margin-top: 7px;
}

#wrapperMoreCases .shareReactions .emojiBox.fullView .emojiImg
{
	width: 34px;
}

#wrapperMoreCases .shareReactions .emojiBox
{
	margin-top: 4px;
}

#wrapperMoreCases #howItWorksSection.row
{
	padding-bottom: 105px;
}

#wrapperMoreCases+#bottomSection #bottomLinks
{
	padding-top: 33px;
}

#wrapperMoreCases+#bottomSection #bottomLinks a
{
	padding: 0px 5px 9px 5px;
    margin-left: 8px;
}

#wrapperMoreCases+#bottomSection #bottomSocialMedia
{
	padding-bottom: 42px;
}

#wrapperMoreCases+#bottomSection #copyright
{
	letter-spacing: 0.13em;
}

/* Portrait Tablets */
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
{
	html { overflow-x: scroll; }
	/*
	#header { width: 753px; }
	#howItWorksSection { background-color: #339bc0; }
	.numbers span { width: 75%; }
	.numbers span > br { display: none; }
	.numbers .imgContent { margin-right: 20px; }
	*/
}


/* Landscape
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {

}
*/

/* Mobile Devides */
@media only screen and (min-width: 0px) and (max-width: 767px)
{
	html { overflow-x: scroll; }
	/*
	#wrapper { background: none; }
	#header
	{
		width: 100%;
		background-color: white;
	    padding-left: 31.5px;
	    padding-top: 13px;
	    height: 82px;
	    padding-bottom: 13px;
	}

	#header .informantesIcon { width: 50px; }
	#header .headerTitle { letter-spacing: 4px; }

	.topSection.row { padding-top: 0px; padding-bottom: 0px;}
	#topLeftSection
	{
		padding-bottom: 18px;
	    background: #1b85a9;
	    padding-top: 27px;
	    padding-bottom: 60px;
	}

	#topLeftSection .slider
	{
		width: 219px;
	    margin: 0 auto;
	    font-size: 33px;
	    line-height: 41px;
	}

	#topLeftSection .slider .sliderItem span { font-size: 34px; }
	#topLeftSection .shareHelpText
	{
		text-align: left;
	    width: 100%;
	    margin: 12px auto 0 auto;
	    float: initial;
	    font-size: 13px;
	    line-height: 17px;
	    padding-left: 0px;
	    letter-spacing: 0.4px;
	}

	#topRightSection
	{
		padding-top: 24px;
		padding-bottom: 39px;
		background-color: #339bc0;
	}

	#topRightSection #reportCrimeForm
	{
		margin: 0 auto;
		max-width: 80%;
		max-width: 302px;
	}

	#topRightSection #reportCrimeForm .form-group
	{
		height: 55px;
		margin-bottom: 5px;
		display: table;
    	width: 100%
	}

	.g-recaptcha iframe { width: 100%; }
	.g-recaptcha > div { width: 100%!important;  }


	#topRightSection #reportCrimeForm .form-group.formCaptchaGroup { margin: -2px 0px 0px 0px; }

	#reportCrimeForm select.form-control, #reportCrimeForm input.form-control, #reportCrimeForm button, #reportCrimeForm .formControlSmall > span, #reportCrimeForm button, #reportCrimeForm .imgRecaptcha
	{
		height: 55px;
	}
	#reportCrimeForm select.form-control { background-size: 65px 56px; }

	#reportCrimeForm .form-control { padding: 6px 21px; }
	.form-control { font-size: 20px; }
	#reportCrimeForm #map { height: 55px; }
	#reportCrimeForm #map #pac-input { height: 55px; }

	#reportCrimeForm .formControlSmall { width: 100%; margin-bottom: 2px; }
	#reportCrimeForm .smallLeft { margin-bottom: 5px; }
	#reportCrimeForm .smallLeft > span.input-group-addon, #reportCrimeForm .smallRight > span.input-group-addon
	{
		width: 65px;
	    position: absolute;
	    right: 0;
	    height: 55px;
    	z-index: 3;
	}

	#reportCrimeForm .formControlSmall input { width: 100%; }

	.fa-calendar-o:before, .fa-clock-o:before
	{
		font-size: 24px;
    	position: relative;
    	top: 10px;
    }

    #reportCrimeForm .imgRecaptcha { margin-top: -2px; }
    #reportCrimeForm button { font-size: 21px; }


	#mediaSection { padding-bottom: 68px; }

	#mediaSection .mediaWrap { padding: 0px; }
	#mediaSection .mediaInsideWrapLeft, #mediaSection .mediaInsideWrapRight { float: none; text-align: center; }
	#mediaSection .mediaInsideWrapLeft { margin-top: 40px; }
	#mediaSection .mediaInsideWrapRight { margin-top: 26px; }
	#mediaSection #appleApp, #mediaSection #androidApp
	{
		width: 90%;
		height: 65px;
    	font-size: 16px;
	    max-width: 337.5px;
	    max-height: 65px;
	    background-size: 100%;
	}

	#mediaSection .mediaInsideWrap > button > span { position: relative; left: 14px; }

	#howItWorksSection .howItWorksWrapLeft { padding: 67px 0px 35px 0px; min-height: inherit; }
	#howItWorksSection .howItWorksWrapLeft #howItWorksTitle
	{
		text-indent: 4px;
	    font-size: 21px;
	    line-height: 29px;
	}
	#howItWorksSection .howItWorksWrap .triangle
	{
		border-color: transparent transparent #f6f6f6;
	    border-width: 0px 16px 16.3px 16px;
	    top: auto;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
	}

	#howItWorksSection .howItWorksWrapRight { padding: 54px 8px 24px 40px; }
	.howItWorksWrapRight.howItWorksWrap .row { margin: 0; }
	.numbers .imgContent { max-width: 54px; margin-right: 23px; }

	.numbers .imgContent::before{
		top: 20px;
	    left: 23px;
	    font-size: 22px;
	}

	.numbers span br { display: none; }

	.numbers.number1 > span { top: 1px; line-height: 20px; }
	.numbers.number2 > span { top: 9px; line-height: 20px; margin-top: 9px; }
	.numbers.number3 > span { top: 9px; line-height: 20px; margin-top: 9px; }

	.numbers.number2 .imgContent { top: 8px; position: relative; }
	.numbers.number2 .imgContent::before { top: 15px; left: 22px; }

	.numbers.number3 .imgContent { top: 8px; position: relative; }
	.numbers.number3 .imgContent::before { top: 15px; left: 22px; }

	.numbers span
	{
		float: left;
		width: 70%;
		font-size: 17px;
	    margin-top: 7px;
	    line-height: 20px;
	}

	#bottomSection { text-align: center; }
	#bottomSocialMedia { display: inline-block; width: 195px;}

	#bottomSection #bottomLinks { padding-top: 48px; padding-bottom: 34px; }
	#bottomSection #bottomLinks a,
	#bottomSection #bottomLinks button,
	#bottomSection #bottomLinks div.mobileLang
	{
		position: relative;
		display: block;
	    width: 140px;
	    margin: 0 auto 32px auto;
	    font-size: 17px;
	    padding: 4px 0px;
		border-bottom: inherit;
		height: 32px!important;
	}

	#bottomSection #bottomLinks div.mobileLang .mobileLangSelect
	{
		-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    background-color: transparent;
	    border-top: none;
	    border-left: none;
	    border-right: none;
	    width: 140px;
	    margin: 0 auto 0px auto;
	    font-size: 17px;
	    padding: 4px 0px;
	    border-bottom: inherit;
	    height: 32px!important;
	    text-indent: 27%;
	    z-index: 1;
	    position: relative;
	    top: -4px;
	    cursor: pointer;
	}


	#bottomSection #bottomLinks a:hover, #bottomSection #bottomLinks button:hover
	{
		text-decoration: none;
		cursor: pointer;
		border: inherit;
		color: inherit;
	}

	#bottomSection #bottomLinks a.language:hover .fa-chevron-down,
	#bottomSection #bottomLinks a.language:hover .fa-chevron-up,
	#bottomSection #bottomLinks button.language:hover .fa-chevron-down,
	#bottomSection #bottomLinks button.language:hover .fa-chevron-up
	{ color: #767676; }

	#bottomSection #bottomLinks button.desktopLang { display: none; }
	#bottomSection #bottomLinks div.mobileLang { display: block; }

	#bottomSection #bottomLinks a hr,
	#bottomSection #bottomLinks button hr,
	#bottomSection #bottomLinks div.mobileLang hr
	{
		display: block;
		position: absolute;
	    height: 1px;
	    width: 115px;
	    opacity: 1;
	    margin: auto;
	    border-top: solid black 1px;
	    left: 0;
	    right: 0;
	    bottom: 0px;
	    top: 75px;
	}

	#bottomSection #bottomLinks .language .fa-chevron-down,
	#bottomSection #bottomLinks .language .fa-chevron-up { top: 5px; }

	#bottomSection #bottomLinks .language:hover .fa-chevron-down,
	#bottomSection #bottomLinks .language:hover .fa-chevron-up { color: #767676 }

	#bottomSection #bottomLinks button.language .dropdown-menu { width: 100%; }

	#bottomSocialMedia .socialMediaBtn
	{
		margin: 0px 16px 0px 6px;
	    height: 43px;
	    width: 43px;
    	float: left;
	}

	#copyright { font-size: 15px; }
	*/
}
